<div class="container">
	<div class="row">
		<div class="col">
			<div class="header_container d-flex flex-row align-items-center trans_300">

				<!-- Logo -->

				<div class="logo_container">
					<a href="index.php">
						<div class="logo">
							<img src="assets/images/logo.png" alt="">
							<span>PROPERTY HUNTER</span>
						</div>
					</a>
				</div>
				
				<!-- Main Navigation -->

				<nav class="main_nav" id="main_nav">
					<ul class="main_nav_list">
						<li class="main_nav_item"><a href="index.php">home</a></li>
						<li class="main_nav_item"><a href="about.php">about us</a></li>
						<li class="main_nav_item"><a href="listings.php">listings</a></li>
						<li class="main_nav_item"><a href="contact.php">contact</a></li>
						{{#if user}}
						   <li class="main_nav_item" id="login-client-btn">
								<a data-toggle="modal" data-target="#view-profile">
									{{user.client.client_fname}} {{user.client.client_mname}} {{user.client.client_lname}}
								</a>
						   </li>
					    {{else}}
							<li class="main_nav_item" id="login-client-btn">
								<a data-toggle="modal" data-target="#loginform">login/register</a>
							</li>
						{{/if}}
						
					</ul>
				</nav>
				
				<!-- Hamburger -->

				<div class="hamburger_container menu_mm">
					<div class="hamburger menu_mm">
						<i class="fas fa-bars trans_200 menu_mm"></i>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<!-- Menu -->

<div class="menu menu_mm">
	<ul class="menu_list">
		<li class="menu_item">
			<div class="container">
				<div class="row">
					<div class="col">
						<a href="#">home</a>
					</div>
				</div>
			</div>
		</li>
		<li class="menu_item">
			<div class="container">
				<div class="row">
					<div class="col">
						<a href="about.html">about us</a>
					</div>
				</div>
			</div>
		</li>
		<li class="menu_item">
			<div class="container">
				<div class="row">
					<div class="col">
						<a href="listings.html">listings</a>
					</div>
				</div>
			</div>
		</li>
		<li class="menu_item">
			<div class="container">
				<div class="row">
					<div class="col">
						<a href="news.html">news</a>
					</div>
				</div>
			</div>
		</li>
		<li class="menu_item">
			<div class="container">
				<div class="row">
					<div class="col">
						<a href="contact.html">contact</a>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>