<!-- Image by: https://unsplash.com/@jbriscoe -->
<div class="home_background" style="background-image:url(assets/images/listings_single.jpg)"></div>

<div class="container">
	<div class="row">
		<div class="col">
			<div class="home_content">
				<div class="home_title">
					<h2>single listings</h2>
				</div>
				<div class="breadcrumbs">
					<span><a href="index.html">Home</a></span>
					<span><a href="#"> Search</a></span>
					<span><a href="listings.html"> Listings</a></span>
				</div>
			</div>
		</div>
	</div>
</div>