    <!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Inquiry</h1>
 </section>

<!-- Main content -->
<section class="content">
  <div class="panel">
    <div class="panel-body">
      <table class="table table-stripped table-bordered table-hover" id="inquiry-tbl">
        <thead>
          <th>{{translateText.clients}}</th>
          <th>{{translateText.message}}</th>
          <th>{{translateText.contact}}</th>
          <th>{{translateText.email}}</th>
          <th>{{translateText.action}}</th>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</section>
    <!-- /.content -->