<div class="login-form" id="loginform-admin">
  <form method="POST" id="admin-login">
    <div class="form-group">
        <div id="announ" class="text-center">
          <img src="img/image-bg.png" alt="picture">
          <h2>Administrator</h2>
          <p><i>Admin Login</i></p>
          <br>
           <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span>
            </span>
            <input type="text" placeholder="Username" name="username" class="form-control mb" required>
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-key"></i>
            </span>
            <input 
              type="password" placeholder="Password" name="password" 
              class="form-control mb" required>
          </div>
          <br>
          <button class="btn btn-primary btn-block" name="login" type="submit">LOGIN</button>
      </div>
    </div>
  </form>
    <br><br><br>    
</div>