<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <img src="assets/dist/img/yang.jpg" class="img-circle" alt="User Image">
    </div>

    <div class="pull-left info">
      <p>{{translateText.administrator}}</p>
    </div>  
  </div>
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu" data-widget="tree">
    <li class="header">{{translateText.MainNavigation}}</li>
    
    <li class="active">
      <a href="dashboard-admin.php">
        <i class="fa fa-th"></i> <span>{{translateText.dashboard}}</span>
        <span class="pull-right-container"></span>
      </a>
    </li>

    <li class="treeview">
      <a href="#">
        <i class="fa fa-home"></i>
        <span>{{translateText.properties}}</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="property-listings.php">{{translateText.PropertyListings}}</a></li>
        <li><a href="property-locations.php">{{translateText.PropertyLocations}}</a></li>
        <li><a href="property-types.php">{{translateText.PropertyTypes}}</a></li>
      </ul>
    </li>

    <li>
      <a href="#trippings">
        <i class="fa fa-calendar-o"></i> <span>{{translateText.trippingSchedules}}</span>
        <span class="pull-right-container"></span>
      </a>
    </li>

    <li>
      <a href="#clients">
        <i class="glyphicon glyphicon-user"></i> <span>{{translateText.clients}}</span>
        <span class="pull-right-container"></span>
      </a>
    </li>

     <li>
      <a href="#inquiries" id="inquiry-nav">
        <i class="glyphicon glyphicon-file"></i> 
        <span>{{translateText.inquiries}}</span>
        <span class="badge primary" id="total-new-inquiry"></span>
        <span class="pull-right-container"></span>
      </a>
    </li>

    <li>
      <a href="#commissions">
        <i class="fa fa-plus-square"></i> <span>{{translateText.commissions}}</span>
        <span class="pull-right-container"></span>
      </a>
    </li>

    <li>
      <a href="#agents" id="agent-nav">
        <i class="fa fa-user-plus"></i> <span>{{translateText.agents}}</span>
        <span class="pull-right-container"></span>
      </a>
    </li>
</section>